<settings>
  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://65.0.95.255:8081/repository/maven-practice-hosted/</url>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>maven-practice</id>
      <username>${env.NEXUS_USER}</username>
      <password>{env.NEXUS_PASSWORD}</password>
    </server>
  </servers>
</settings>
